html {
    color: #F3F4F4;
    background: #273333;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: pink;
    text-shadow: none;
}

::selection {
    background: pink;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #F3F4F4;
    margin: 1em 0;
    padding: 0;
}

body {
    font: 16px/26px "Input Sans Reg", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Input Serif Comp Bd";
    font-style: Normal;
    font-weight: Normal;
}

strong, b {
    font-family: "Input Sans Bd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: Normal;
    font-weight: Normal;
}

em, i, address {
    color: #dee1e1;
    font-style: normal;

.wrapper {
    width: 90%;
    margin: 0 5%;
}
